// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * (C) Copyright 2025 FriendlyElec Computer Tech. Co., Ltd.
 * (http://www.friendlyelec.com)
 */

/dts-v1/;
#include "rk3576.dtsi"
#include "rk3576-u-boot.dtsi"

/ {
	model = "FriendlyElec NanoPi R76S";
	compatible = "friendlyelec,nanopi-r76s",
		     "rockchip,rk3576";

	chosen {
		u-boot,spl-boot-order = &sdmmc, &sdhci;
	};

	aliases {
		mmc0 = &sdmmc;
		mmc1 = &sdhci;
		ethernet0 = &gmac0;
		ethernet1 = &gmac1;
	};

	/* Basic power supplies for u-boot */
	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vcc_3v3_s3: vcc-3v3-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc_1v8_s3: vcc-1v8-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_3v3_s3>;
	};
};

/* UART for console output */
&uart0 {
	status = "okay";
};

/* SD card support for booting */
&sdmmc {
	status = "okay";
	max-frequency = <150000000>;
	no-sdio;
	no-mmc;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc_3v3_s3>;
	vqmmc-supply = <&vcc_1v8_s3>;
};

/* eMMC support */
&sdhci {
	status = "okay";
	bus-width = <8>;
	no-sdio;
	no-sd;
	non-removable;
	max-frequency = <150000000>;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	vmmc-supply = <&vcc_3v3_s3>;
	vqmmc-supply = <&vcc_1v8_s3>;
};

/* Ethernet interfaces for router use case */
&gmac0 {
	status = "okay";
	phy-mode = "rgmii";
	clock_in_out = "output";
	assigned-clocks = <&cru CLK_GMAC0_PTP_REF>;
	assigned-clock-parents = <&cru CLK_GMAC0_PTP_REF>;
	assigned-clock-rates = <125000000>;
};

&gmac1 {
	status = "okay";
	phy-mode = "rgmii";
	clock_in_out = "output";
	assigned-clocks = <&cru CLK_GMAC1_PTP_REF>;
	assigned-clock-parents = <&cru CLK_GMAC1_PTP_REF>;
	assigned-clock-rates = <125000000>;
};

/* I2C for EEPROM access (MAC addresses) */
&i2c5 {
	status = "okay";
	clock-frequency = <200000>;
};