CONFIG_TARGET_ky=y
CONFIG_TARGET_ky_riscv64=y
CONFIG_TARGET_ky_riscv64_DEVICE_x1_orangepi-r2s=y
CONFIG_TARGET_KERNEL_PARTSIZE=100
CONFIG_TARGET_ROOTFS_PARTSIZE=400

CONFIG_DEVEL=y
CONFIG_KERNEL_CFLAGS="-Wno-vla"
CONFIG_KERNEL_DEVTMPFS=y

CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_curl=y
# CONFIG_PACKAGE_dnsmasq is not set
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_ethtool=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_lm-sensors-detect=y
CONFIG_PACKAGE_lsblk=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_wget=y
